* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Quicksand, sans-serif;
  font-weight: 300;
  background: url(http://genchi.info/img/sky-blue-wallpaper-5.jpg) no-repeat
    center fixed;
  background-size: cover;
  font-size: 1.5em;
  color: #003eff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  padding: 50px 10px 10px 10px;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding: 10px;
}

input {
  border-radius: 16px 16px 0px 0px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 3px solid #ff9800;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 25px;
}

.location {
  font-size: 30px;
}

.temp {
  color: #fff;
  text-shadow: 2px 2px rgba(0, 62, 255, 0.3);
  font-size: 5em;
  font-weight: 400;
  margin: 10px;
  padding: 10px;
}

button {
  align-self: center;
  background-color: #ff9800;
  border-radius: 16px;
  max-height: 60px;
  border: none;
  outline: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: rgba(0, 62, 255);
  box-shadow: 0px 2px 5px 2px rgba(0, 62, 255, 0.3);
}

.weather-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  padding: 20px;
  max-width: 100%;
}

.temp-container {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap;
  padding: 20px; */
}

@media (max-width: 640px) {
  .title {
    padding: 15px 0;
    font-size: 1.75em;
  }
  .weather-container {
    flex-wrap: wrap;
  }
  .location {
    font-size: 1em;
  }
}
