* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-weight: 300;
  background: url(http://genchi.info/img/sky-blue-wallpaper-5.jpg) no-repeat
    center fixed;
  background-size: cover;
  font-size: 1.5em;
  color: #003eff;
  background-color: rgba(0, 62, 255, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 50px 10px 10px 10px;
  flex-direction: row;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.header-icon {
  width: 40px;
}

.header-icon img {
  /* position: relative; */
  max-width: 30px;
  max-height: 30px;
  display: block;
  margin: 0px auto;
  padding: 5px;
  align-self: start;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
}

input {
  font-family: Quicksand, sans-serif;
  border-radius: 16px 16px 0px 0px;
  width: 500px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 3px solid #ff9800;
}

.loading {
  padding: 10px;
  margin: 10px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 25px;
}

.location {
  font-size: 30px;
  padding: 0px 10px 10px 10px;
  font-weight: 600;
}

.date-time {
  font-size: 24px;
  padding: 10px 10px 0px 10px;
}

.weather-type {
  font-weight: 600;
  font-size: 24px;
  padding: 10px;
}

.temp {
  color: rgb(0, 150, 255);
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.8);
  font-size: 5em;
  font-weight: 400;
  margin: 10px;
}

button {
  align-self: center;
  background-color: #ff9800;
  border-radius: 16px;
  max-height: 60px;
  border: none;
  outline: none;
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  text-align: center;
  color: rgba(0, 62, 255);
  box-shadow: 0px 2px 5px 2px rgba(0, 62, 255, 0.3);
}

.weather-container {
  display: inline-grid;
  max-width: 540px;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
  margin: 0px 0px 10px 0px;
}

.weather-pic {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: center;
}

.weather-icon {
  position: relative;
  margin: 10px;
  max-width: 100%;
  height: auto;
}

.temp-container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self: center;
}

.more-temp {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.sunrise-container {
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.icon {
  position: relative;
  margin: 0px 5px 3px 5px;
  max-width: 40px;
  max-height: 40px;
  align-self: center;
  justify-self: center;
}

p {
  padding: 5px;
  font-size: 18px;
}

.sunrise-content {
  position: relative;
  justify-content: start;
  align-self: end;
  margin: 0px 5px;
}

.daily-icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily-icon img {
  display: block;
  margin: 10px auto;
  max-width: 75px;
  max-height: 75px;
}

.dailys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

.day {
  margin: 10px;
  width: 285px;
  height: 260px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  border: 1px solid rgb(0, 150, 255);
  border-radius: 10px;
  /* background-color: rgb(255, 152, 0, 0.1); */
  background-color: rgba(255, 255, 255, 0.4);
}

h4 {
  margin: 10px 5px 5px 5px;
}

@media (max-width: 640px) {
  .title {
    padding: 15px 0;
    font-size: 1.75em;
  }
  .weather-container {
    flex-wrap: wrap;
  }
  .location {
    font-size: 1em;
  }
}
